body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #172533;

}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  text-align: justify;

}

.logo img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.logo p {
  font-weight: bold;
  font-size: larger;
  padding: 10px;
  padding-right: 180px;
}

.welcome-msg {
  text-align: center;
  margin-left: 10px;
  background-color: #ffffff;
  padding: 10px;
  margin-left: 0;
  justify-content: space-between;
}

.logout-btn {
  background-color: #253648;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: #172533;
}

.logout-btn:focus {
  outline: none;
} 


.HOME-btn {
  background-color: #253648;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.HOME-btn:hover {
  background-color: #172533;
}

.HOME-btn:focus {
  outline: none;
} 



.slider-container {
  max-width: 1000px;
  margin: 10px auto 50px;
  position: relative;
  overflow: hidden;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #172533;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}


.footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: left;
}

.footer-content {
  margin-left: 50px;    
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 400px; 
  font-weight: bolder;
}

.social-link {
  display: flex; 
  align-items: center; 
  text-decoration: none;
  color: #007BFF;
  margin-bottom: 5px;
}

.social-link img {
  width: 50px;
  height: 50px;
  margin-right: 10px; 
}
.footer-copy {
  margin-top: 20px;
  font-weight: bolder;
  text-align: center;
} /*